*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:url('./images/background.png');
    /*might need to switch to background-attachment: scroll;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

header{
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, .5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    

}

img{
    width: 100%;
}
.home-page{
    background-color: white;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
}

.slider{
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 15px;
    
    
}
.slider-container{
    display:flex;
    
    height:600px;
    transform: translate(0);
    transition: transform .8s ease-in-out;
}